{% extends "capstone/capstone_base.html" %}

{% block title %} {{inventory_item.details.title}} Details {% endblock %}

{% block content %}
    <h1>{{inventory_item.details.title}}, Details</h1>

    <div class="inventory_list">
        <h2>{{inventory_item.details.title}}</h2>
        <p><strong>Author: </strong> {{inventory_item.details.author}}</p>
        <p><strong>Publisher: </strong> {{inventory_item.details.publisher}}</p>
        <p><strong>Copyright Date: </strong> {{inventory_item.details.copyright_date}}</p>
        <p><strong>Series: </strong> {{inventory_item.details.series}}</p>
        <p><strong>Number of Pages: </strong> {{inventory_item.details.pages}}</p>
        <p><strong>Release Date: </strong> {{inventory_item.details.release_date}}</p>
        <p><strong>Publication Date: </strong> {{inventory_item.details.publication_date}}</p>
        <p><strong>Description: </strong> {{inventory_item.details.description}}</p>
        <p><strong>Price: </strong> ${{inventory_item.price}}</p>
    </div>
    
{% endblock %}
