{% extends "capstone/capstone_base.html" %}

{% block content %}
    <h1>Welcome to Test Site</h1>

    <p class="port-test">
      If you are a student looking for area housing, please use this list as a guide to help you in your search. 
      The Bucks County Community College Housing List is an information resource only. 
      Bucks County Community College does not supply housing for students. 
      Bucks is not responsible for the validity of the information submitted by the landlord. 
      It is the responsibility of the student to thoroughly investigate all information that has been submitted to this list.
    </p>
    
{% endblock %}
